.Rproj.user
.Rhistory
.RData
.Ruserdata
answers_to_exercises/lesson10_answers.Rmd
answers_to_exercises/lesson9_answers.pdf
answers_to_exercises/lesson9_answers.Rmd
data/coli_genomes.xlsx
data/coli_genomes.xlsx
data/colidata.Rdata
data/coli_genomes.xlsx
answers_to_exercises/lesson12_answers.Rmd
data/coli_genomes.xlsx
exams/scripts_calificar/respuestas_P_1.R

/.quarto/
